@model IEnumerable<DPTPWebAPI.TranP_TruckTypes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TRUCK_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIZE_FT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_WEIGHT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TRUCK_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIZE_FT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAX_WEIGHT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SrNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.SrNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SrNo })
        </td>
    </tr>
}

</table>
